/* Created By AkinaCss */
/* Detay area */

.detayscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 0;
}

.detayscreen div {
    flex: 1 1 20%;
    width: 20%;
    max-width: 20%;
    border-right: 1px solid #eaeaea;
    z-index: 1;
}

/* Detay Main area Css End */

.detayMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 50px;
}

.detayImg {
    width: 50%;
    display: flex;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.detayImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006e;
    z-index: 2;
}

.detayImg img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.detayInsideTxt img {
    width: 100%;
    object-fit: cover;
}

.detayimgsus {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.detayTxt {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    background-color: var(--white);
}

.detayMap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--textclr);
}

.detayMap a {
    color: var(--textclr);
    font-family: var(--txt);
    font-size: 14px;
}
.detayMap a:hover {
    color: var(--red);
}
.detayMap p {
    color: var(--textclr);
    font-family: var(--txt);
    font-size: 14px;
}

.detayHeader {
    width: 80%;
    font-size: 3.2rem;
    font-weight: 800;
    font-family: var(--txt);
    text-transform: uppercase;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.timeHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.timeHeader svg {
    width: 24px;
    height: 24px;
}

/* Detay Main area Css End */

/* =================================================================== */

/* Text area Css Start */

.detayIcerik {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.detayInsideTxt {
    width: 60%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    color: var(--textclr);
    z-index: 1;
}

.detayInsideTxt h2 {
    font-size: clamp(25px, 2.604vw, 45px);
    padding: 15px 0px;
    font-family: var(--txt);
    text-transform: uppercase;
}

.detayInsideTxt h3 {
    font-size: clamp(20px, 2.604vw, 32px);
    padding: 10px 0px;
    font-family: var(--txt);
    text-transform: uppercase;
}

.detayInsideTxt p {
    font-size: clamp(14px, 2.604vw, 18px);
}

.detayInsideTxt ul {
    padding: 30px 20px;
    font-size: clamp(14px, 2.604vw, 18px);
}

.detayInsideTxt ul li {
    padding: 15px 0px;
    list-style-type: none;
    position: relative;
    padding-left: 10px;
}

.detayInsideTxt ul li::before {
    content: "â—";
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    position: absolute;
    left: -20px;
    top: 8.5px;
}


/* Text area Css End */

/* =================================================================== */

/* yan yana area Css Start */

.sidebyside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0px;
}

.sideBox {
    flex: 1 1 50%;
    width: 50%;
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.sideBox img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sideBox h4 {
    font-size: clamp(18px, 1.042vw, 20px);
}

.sideBox p {
    font-size: clamp(14px, 0.833vw, 16px);
}


/* yan yana area Css End */

/* =================================================================== */

/* Contact area Css Start */

#custom-form {
    width: 100%;
    background-color: var(--white);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#custom-form input, #custom-form textarea, #custom-form select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

#custom-form input:valid,
#custom-form input:focus,
#custom-form input:active {
    border: 2px solid var(--red);
}

#custom-form textarea {
    resize: vertical;
    transition: 0.3s;
}

#custom-form textarea:valid,
#custom-form textarea:focus,
#custom-form textarea:active {
    border: 2px solid var(--red);
}

.custom-select-container {
    position: relative;
}

.custom-select {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-options {
    display: none;
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--border);
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 300px;
}

.custom-options div {
    padding: 10px;
    cursor: pointer;
}

.custom-options div:hover {
    background-color: #f0f0f0;
}

.custom-selected {
    background-color: var(--white);
    border: 2px solid var(--border);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    transition: 0.3s;
}

.custom-selected.select {
    border: 2px solid var(--red);
}

/* width */
.custom-options::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-options::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.custom-options::-webkit-scrollbar-thumb {
  background: var(--red); 
}

/* Handle on hover */
.custom-options::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Contact area Css End */

/* =================================================================== */

/* Site Map area Css Start */

.sitemap-container {
    width: 100%;
    padding: 20px;
}

.sitemap-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--red);
    padding-bottom: 10px;
}

.sitemap {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitemap > li {
    margin-bottom: 5px;
    padding: 5px !important;
}

.sitemap li::before {
    top: 0px !important;
}

.sitemap ul li {
    padding: 5px 0px !important;
}

.sitemap a {
    text-decoration: none;
    font-size: 1.1rem;
}

.sitemap ul {
    list-style: none;
    margin: 10px 0 10px 20px;
    padding: 0;
}

.sitemap ul li {
    margin: 5px 0;
}

.sitemap a:hover {
    color: var(--red);
    text-decoration: underline;
}

/* Site Map area Css End */

/* =================================================================== */

/* News area Css Start */

.newsMain {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 50px;
    overflow: hidden;
}

.newsImg {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.newsImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006e;
    z-index: 2;
}

.newsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsTxt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    z-index: 3;
}

.newsMap {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--white);
}

.newsMap a {
    color: var(--white);
    font-family: var(--txt);
    font-size: 14px;
}
.newsMap a:hover {
    color: var(--red);
}
.newsMap p {
    color: var(--white);
    font-family: var(--txt);
    font-size: 14px;
}

.detayHeadernews {
    width: 80%;
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--white);
    font-family: var(--txt);
    text-transform: uppercase;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.detayHeadernews.searchtxt {
    font-size: 2rem;
    font-weight: 600;
}

.detayHeadernews.searchtxt span {
    font-weight: 900;
}


.haber.news {
    flex-wrap: wrap;
    background-color: transparent !important;
    justify-content: flex-start;
    align-items: start;
}

.haberHeader.news {
    flex: 1 1 33.333%;
    width: 33.333%;
    max-width: 33.333%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 30px;
}

.detayInsideTxt.p-0 {
    padding: 0px;
}

.haberHeader.news h3 {
    padding: 0px 25px !important;
    border-left: 5px solid var(--red);
}

.pageNumber {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagebtn {
    padding: 5px 10px;
    font-size: 18px;
    border-bottom: 2px solid var(--red);
    transition: 0.3s;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagebtn.active {
    background-color: var(--bg-color);
    color: var(--white);
}

.pagebtn:hover {
    background-color: var(--border);
    border-bottom: 2px solid var(--red);
}

.mb-2 {
    margin-bottom: 20px;
}

/* News area Css End */

/* =================================================================== */

/* History area Css Start */

@media (max-width: 1465px) {
    .detayHeader {
        width: 90%;
    }
}

@media (max-width: 1320px) {
    .detayHeader {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .detayHeader {
        font-size: 2.8rem;
    }
}

@media (max-width: 1070px) {
    .detayHeader {
        font-size: 2.5rem;
    }
}

@media (max-width: 1024px) {
    .detayInsideTxt {
        width: 90%;
    }

    .detayInsideTxt.news {
        width: 100%;
    }
    .detayscreen.news div {
        flex: 1 1 33.333%;
        width: 33.333%;
        max-width: 33.333%;
    }

    .newsnone {
        display: none;
    }
}

@media (max-width: 960px) {
    .detayHeader {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    .detayscreen.news div {
        flex: 1 1 50%;
        width: 50%;
        max-width: 50%;
    }
    .newsnone1 {
        display: none;
    }

    .haberHeader.news {
        flex: 1 1 50%;
        width: 50%;
        max-width: 50%;
    }

    .haber.news {
        flex-direction: row !important;
        padding: 0px !important;
    }
}

@media (max-width: 768px) {
    .detayMain {
        flex-direction: column;
    }
    .detayImg, .detayTxt {
        width: 100%;
    }
    .detayImg img {
        height: 200px;
    }

    .detayInsideTxt {
        width: 100%;
    }
    .detayTxt {
        padding: 30px 20px;
    }
}

@media (max-width: 768px) {
    .sideBox {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }
}


@media (max-width: 600px) {
    .detayHeadernews {
        width: 80%;
        font-size: 2.6rem;
    }
}

@media (max-width: 475px) {
    .detayHeadernews {
        width: 90%;
        font-size: 2.6rem;
    }
    .newsMap {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .haberHeader.news {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }

    .haber.news {
        flex-direction: row !important;
        padding: 0px !important;
    }
}

@media (max-width: 400px) {
    .detayHeadernews {
        width: 90%;
        font-size: 2.1rem;
    }
}